/*Body*/
body
{
	color: #40514E;
	margin: 0px;
	text-align: center;
	font-family: 'Merriweather',serif;
}
/*Top Portion*/
.top-container
{
	background-color: powderblue;
	position: relative;
	padding-top: 100px;
}
.top-cloud
{
	position: absolute;
	right: 300px;
	top: 40px;
	
}
.bottom-cloud
{
	position: absolute;
	left: 250px;
	bottom: 300px;
}
/*H Tags*/
h1
{
	color: #66BFBF;
	font-size: 5.625rem;
	margin: 50px auto 0 auto;
	font-family: 'Sacramento' ,cursive;
}
h2
{
	color: #66BFBF;
	font-family: 'Montserrat',sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
}
.pro
{
	text-decoration: underline;
}
.make
{
	font-family: 'Lacquer',sans-serif;
}
.wrote
{
	font-family: 'Saira Stencil One',cursive;
}
/*Bottom Portion*/
.bottom-container
{
	background-color: #66BFBF;
	padding:50px 0 20px;
}
a
{
	color: #11999E;
	font-family'Montserrat',sans-serif;
	margin: 10px 20 px;
	text-decoration: none;
}
a:hover
{
	color: #EAF6F6;
}
.copyright
{
	color: #EAF6F6;
	font-size: 0.55rem;
	padding: 20px 0;
	
}
/*Middle Portion*/
.middle-container
{
	margin: 100px 0;
}
.profile img
{
	height: 180px;
	width: 180px;
	border-radius: 50%;
}
.profile p
{
	font-family: 'Montserrat',sans-serif;
	line-height: 2;
}
.intro
{
	width: 30%;
	margin: auto;
}
hr{
	border: dotted #B1F8F8 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}
.skill-row
{
	font-family: 'Montserrat',sans-serif;
	line-height: 2;
	width: 30%;
	margin: 100px auto;
	text-align: left;
}
.content-img
{
	width: 25%;
	float: left;
	margin-right: 30px;	
}
.greyhat-img
{
	width: 25%;
	float: right;
	margin-left: 30px;
}
.chicken-img
{
	width: 25%;
	float: left;
	margin-left: 30px;
}
.contact-me
{
	font-family: 'Lexend Deca',sans-serif;
	line-height: 2;
	width: 30%;
	margin: 100px auto;
	text-align: left;
}
.contact-me button
{
	font-family: Pacifico,cursive;
}
h3
{
	color: #11999E;
	font-family: 'Montserrat',sans-serif;
}
.contact-message
{
	font-family: 'Montserrat',sans-serif;
}
.btn
{
	color: #FFFFFF;
	background-color: #11CDD4;
	border-radius: 8px;
	/*font-family: 'Montserrat',sans-serif;*/
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	background-image: linear-gradient(to bottom, #11CDD4, #11999E);
	margin: auto;
	display: block;

}
.btn:hover
{
	background: #30E3CB;
	background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
	text-decoration: none;
}
/*Footer Portion*/
a.foot-link
{
	text-decoration: underline;
	color: #EAF6F6;
}
a.foot-link:hover
{
	color: #060606;
}
/*.astro-img
{
	width: 25%;
	float: right;
}*/
